/testing
*.tgz
*.exe
*.o
*.txt
.env

# arquivos intermediários gerados pelo yacc e lex
lex.yy.c 
lex.yy.h 
y.tab.c 
y.tab.h
y.output

#executaveis de cada etapa
/*/etapa1
/*/etapa2
/*/etapa3
/*/etapa4
/*/etapa5